#too:focus {
    background-color: white;
    color: black;
}

#too2:focus {
    background-color: white;
    color: black;
}

#too3:focus {
    background-color: white;
    color: black;
}

#too4:focus {
    background-color: white;
    color: black;
}

#too5:focus {
    background-color: white;
    color: black;
}